@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

 :root {
  --col-bg: #ffffff;
  --col-bg-fg: #ededed;
  --col-main:  #5d73fa;
  --col-secondary: #ffbbab;
  --col-font-main:  #4c4c4c;
  --col-font-secondary: #8c8c8c;
  --font-main: 'Open Sans', sans-serif;
}

body {
 background-color: var(--col-bg);
 color: var(--col-font-main);
 font-family: var(--font-main);
 font-size: 1em;
}   

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
  margin: 0.25em 0;
}

.topbar {
  position: fixed;
  overflow: hidden;
  background-color: var(--col-main);
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
}
/* 
.logo {
   display: inline-block;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
} */

.sidebar {
    background: var(--col-secondary);
    width: 100%;
    height: 100%;
    padding: 1em 2em;
    top: 0;
    left: -100%;
    position: fixed;
    padding-top: 2em;
    z-index: 3;
}

.sidebar.panel {
    opacity: 0;
    overflow-y: scroll;
    transition: opacity 0.3s;
}

.sidebar.open {
    left: 0;
}

.sidebar.open.panel {
    opacity: 1;
}

.sidebar-toggle {
    background-color: var(--col-main);
    color: var(--col-bg);
    position: fixed;
    top: 0.5em;
    /* left: 20em; */
    line-height: 1.25;
    padding: 0 .5em;
    border: none;
    z-index: 4;
}

.chat {
    padding: 0 1em;
    margin-top: 2em;
}

@media screen and (min-width: 40em) {

    .sidebar {
        display: block;
        left: 0;
        z-index: 1;
        width: 20em;
        opacity: 1;
        transform: translateX(-10em); 
        transition: transform 0.3s; 
    }

    .sidebar.open ~ .chat {
        margin-left: 20em;
    }

    .sidebar.open {
        transform: translateX(0em);
    }

    /* .sidebar-toggle span {
        writing-mode: vertical-rl;
    } */

    .chat {
        transition: margin-left 0.3s;
    }
}

@media screen and (min-width: 60em) {

    .sidebar {
        width: 30em;
    }

    .chat {
        margin-left: 30em;
    }
}