/* .App {
  text-align: center;
} */

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

 :root {
  --col-bg: #ffffff;
  --col-bg-fg: #ededed;
  --col-main:  #5d73fa;
  --col-secondary: #ffbbab;
  --col-gradient: linear-gradient(150deg, rgb(85, 51, 255) 15%, rgb(5, 213, 255) 70%, rgb(166, 255, 203) 94%);
  --col-border: #e6e6e6;
  --col-font-main:  #4c4c4c;
  --col-font-secondary: #c5c5c5;
  --font-main: 'Open Sans', sans-serif;
  --box-shadow: 1px 3px 20px rgba(17, 17, 17, 0.1);
}

body {
 background-color: var(--col-bg);
 color: var(--col-font-main);
 font-family: var(--font-main);
 font-size: 1em;
}   

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
  /* margin: 0.25em 0; */
}

.topbar {
  position: fixed;
  overflow: hidden;
  background: var(--col-gradient);
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 3em;
  margin-bottom: 1em;
}

.logo {
   color: var(--col-bg);
   padding: .2em;
   font-size: 2em;
   font-family: 'Dancing Script', cursive;
   font-weight: bolder;
}

.sidebar {
    background: var(--col-gradient);
    width: 100%;
    height: 100%;
    padding: 1em 2em;
    top: 0;
    left: -100%;
    position: fixed;
    padding-top: 2em;
    z-index: 3;
}

.sidebar.panel {
    opacity: 0;
    overflow-y: scroll;
    transition: opacity 0.3s;
}

.sidebar.open {
    left: 0;
}

.sidebar.open.panel {
    opacity: 1;
}

.sidebar-toggle {
    background-color: transparent;
    color: var(--col-font-secondary);
    position: fixed;
    top: 0.5em;
    /* left: 20em; */
    line-height: 1.25;
    padding: .4em;
    padding-left: 2em;
    border: none;
    z-index: 4;
    outline: none;
}

.search {
    position: relative;
    width: 100%;
    height: 4em;
    margin-top: 2em;

}

.search::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 80%;
  height: 1px;
  content: '';
  background-color: var(--col-font-secondary);
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.search input {
    /* background-image: url(img/search.svg); */
    background-repeat: no-repeat;
    background-size: auto;
    float:left;
    width: 100%;
    height: 2.5em;
    padding: 0 1em;
    border: 1px solid var(--col-border);
    border-radius: 1.3em;
    background: var(--col-border);
    box-shadow: var(--box-shadow);
}

.search input:focus {
    outline: none;
}

.new-msg {
    display: block;
    float: left;
    width: 2.625em;
    height: 2.625em;
    margin-left: .625em;
    background: var(--col-main);
    color: black;
    border-radius: 50%;
}

.chat {
    padding: 0 1em;
    margin-top: 4em;
}

.chat-list-item {
    position: relative;
    width: 100%;
    cursor: pointer;
    padding: .75em 10% 1em;
}

.chat-list-item:hover {
    background: var(--col-main);
    width: calc(100% + .125em);
    padding-top: .8125em;
    margin-top: -1px;
    margin-left: -1px;
    border: none;
}

.chat-list-item span:hover {
    color: var(--col-bg);
}

.chat-list-item:hover::after {
    display: none;
}

.chat-list-item::after {
    content: '';
    position: absolute;
    display: block;
    width: 80%;
    height: .04em;
    bottom: 0;
    left: 50%;
    background: var(--col-border);
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
}

.chat-img {
    float: left;
    width: 3em;
    height: 3em;
    margin-right: .75em;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
}

.chat-list-name {
    font-size: .875em;
    line-height: 1.3em;
    font-weight: 600;
    color: var(--col-bg);
}

.chat-list-time {
    font-size: .8em;
    position: absolute;
    top: 1em;
    right: 10%;
    padding: 0 0 5px 5px;
    color: var(--col-font-secondary);
}

.chat-list-pre {
    font-size: .875em;
    display: inline-block;
    overflow: hidden;
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--col-font-secondary);
}

.chat-title {
    width: 100%;
    height: 3em;
    padding: 1em 2em;
    background: var(--col-bg);
    border-radius: .5em;
    margin-bottom: 2em;
    box-shadow: var(--box-shadow);
}


.chat-title span {
    font-size: 1em;
    color: var(--col-font-main);
}


#msg {
    grid-area: msg;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 1.25em;
}

.msg-bot {
    display: grid;
    grid-template-areas: 70%;
    margin-bottom: 1.25em;
}

.msg-content {
    display: grid; 
}

.me-msg {
    justify-content: end;
    justify-items: end;
}

.me-msg .msg-content {
    justify-items: end;
}

.other-msg {
    justify-content: start;
}

.other-msg .msg-content {
    grid-template-columns: 3em 1fr;
    grid-column-gap: .9em;
}

.msg-bot img {
    grid-row: span 2;
}
.msg-text {
    padding: .5em .8em;
    font-size: 1.3rem;
    margin-bottom: .3em;
}

.msg-time {
    font-size: .9rem;
    color: var(--col-font-secondary);
}

.me-msg .msg-text {
    background: var(--col-main);
    color: var(--col-bg);
    border: 1px solid var(--col-main);
    border-radius: 14px 14px 0 14px;
    box-shadow: var(--box-shadow);
}

.other-msg .msg-text {
    background: var(--col-border);
    color: var(--col-font-main);
    border: 1px solid var(--col-border);
    border-radius: 14px 14px 14px 0;
    box-shadow: var(--box-shadow);
}

.conv-span span::after {
    position: absolute;
    top: 10px;
    display: inline-block;
    width: 30%;
    height: 1px;
    content: '';
}

#msg-form {
    display: grid;
    grid-area: msg-form;
    grid: 51px / 32px 1fr 32px;
    grid-gap: .7em;
    border-radius: 0 0 10px 0;
    border-top: 1px solid rgba(0,0,0,0.25);
    padding-left: 2.6em;
    padding-right: 2.6em;
    padding-right: 1.3em;
    align-content: center;
    align-items: center;
    
}

#msg-form input {
    outline: none;
    padding: 1em;
    border: 2px solid #ddd;
    color: var(--col-font-main);
    border-radius: 6px;
    width: 100%;
    margin-top: 4em;
}

.attach-icon {
    margin-top: 2em;
    color: var(--col-main);
}


@media screen and (min-width: 40em) {

    .sidebar {
        display: block;
        left: 0;
        z-index: 1;
        width: 20em;
        opacity: 1;
        transform: translateX(-30em); 
        transition: transform 0.8s; 
    }

    .sidebar.open ~ .chat {
        margin-left: 20em;
        transition: margin-left 0.8s;
        /* transition: transform 0.8s;  */
    }

    .sidebar.open {
        transform: translateX(0em);
    }


    .chat {
        transition: margin-left 0.8s;
        
    }
}

@media screen and (min-width: 60em) {

    .sidebar {
        width: 20em;
    }

    .chat {
        margin-left: 2em;
        transition: margin-left 0.8s;
    }

    

}